<div id="insaneDataView" class="container">
  <div>
    <div class="row">

      <div class="form-group">


        <div class="col-xs-8">
          <div class="separatorBlue">Seleccione los sintomas más significativos: </div>
          <div id="listInsane"></div>
        </div>
        <div class="col-xs-4">
          <label>Filtra para acceder rapidamente a los sintomas </label>
          <label>Seleccione los más significativos, como mínimo 2  </label>
          <label>Avance para procesar la información </label>
        </div>
      </div>
    </div>

    <div class="separatorGray"></div>
    <button id="buttonInsaneCancelData" class="btn btn-primary">Atrás</button>
    <button id="buttonInsaneData" class="btn btn-primary">Aceptar</button>
  </div>
