<div>
  <div class="row">
    <div class="col-xs-6">
      <label class="separatorBlue">Ya sé lo que he tenido &rarr; Valorar ahora</label>
      <div id="groupSliderValoration">




        <label>Valorar diagnostico: </label>
        <label type="text" id="amountProbability" readonly style="border:0; color:#f6931f; font-weight:bold;"></label> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <div id="sliderProbability"></div>

        <label>Seguridad del paciente, respecto a lo que tuvo: </label>
        <label type="text" id="amountProbabilityUser" readonly style="border:0; color:#f6931f; font-weight:bold;"></label>
        <div id="sliderProbabilityUser"></div>

      </div>
      <div id="commentValoration">
        <label>Comentario adicional</label>
        <textarea id="textAreaValoration"></textarea>

      </div>
    </div>
    <div class="col-xs-6" style="padding-bottom: 10%;">
      <div>
        <label class="separatorBlue">Aun no sé lo que he tenido &rarr; Valorar más tarde</label>
        <button id="buttonGenerateCode" class="btn btn-primary">Generar código futura valoración</button>
        <div id="divGenerateCode" style="display: none">
          <span style="    margin-left: 10%;">Guarde el código &rarr; </span>
          <span id="spanGenerateCode"></span>
          <span title="Eliminar codigo" id="spanGenerateCodeClose">&#10006;</span>
        </div>
      </div>
    </div>
  </div>

  <div class="separatorGray"></div>

  <div class="buttonUser">
    <button id="cancelValidation" class="btn btn-default">Atrás</button>
    <button id="acceptValidation" class="btn btn-primary">Finalizar</button>
  </div>
