<div>
  <label class="separatorBlue">Nos gustaría que tomase un segundo para rellenar un formulario acerca del diagnóstico y así poder ser más precisos en el futuro</label>

  <div class="row">
    <div class="col-xs-6">
      <label class="separatorBlue">Valoración diagnostico</label>
    </div>
    <div class="col-xs-6" style="padding-bottom: 10%;">
      <div>
        <label class="separatorBlue">Valorar más adelante</label>


      </div>
    </div>

    <div id="div-separator"></div>
  </div>
  <label class="separatorBlue">Comentario adicional</label>
      <textarea></textarea>
  <div style="display: flex">

  </div>
  <div class="separatorGray"></div>
